= form_for @user do |f|
  .fields
    = f.label :first_name
    = f.text_field :first_name
  %br/
  .fields
    = f.label :last_name
    = f.text_field :last_name
  %br/
  .fields
    = f.label :mobile
    = f.number_field :mobile
  %br/
  .fileds
    = f.label :email
    = f.text_field :email
  %br/
  %h3 Addresses
  #addresses
    = f.fields_for :addresses do |address|
      = render 'address_fields', f: address
    .links
      = link_to_add_association 'add address', f, :addresses, class: "button btn btn-outline-primary"
  = f.submit class: "button btn btn-outline-success"